@using PersonelBilgiSistemi.Models
@model List<Personel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_GenelLayout.cshtml";
}



<table class="table table-bordered">
    <tr>
        <th>Personel Id</th>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Sehir</th>
        <th>Birim</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PersonelId</td>
            <td>@item.Adi</td>
            <td>@item.Soyadi</td>
            <td>@item.Sehir</td>
            <td>@item.Birim.BirimAdi</td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-outline-warning">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Personeller/YeniPersonel/" class="btn btn-primary">Yeni Personel  </a>



